// Responses
mixin where_am_i
  response#where_am_i.
    !{getTranslatedString('fog_owl.cedric.where_am_i')}

mixin who_are_you
  response#who_are_you.
    !{getTranslatedString('fog_owl.cedric.who_are_you')}

mixin about_robot
  response#about_robot.
    !{getTranslatedString('fog_owl.cedric.about_robot')}

mixin about_fun
  response#about_fun.
    !{getTranslatedString('fog_owl.cedric.about_fun')}

mixin about_sad
  response#about_sad.
    !{getTranslatedString('fog_owl.cedric.about_sad')}

mixin back_to_main
  response#back_to_main.
    !{getTranslatedString('fog_owl.cedric.back_to_main')}

mixin what_next
  response#what_next.
    !{getTranslatedString('fog_owl.cedric.what_next')}

mixin about_tq_history
  response#about_tq_history.
    !{getTranslatedString('fog_owl.cedric.about_tq_history_response')}

mixin about_tq_first_operators
  response#about_tq_first_operators.
    !{getTranslatedString('fog_owl.cedric.about_tq_first_operators_response')}

mixin about_tq_code
  response#about_tq_code.
    !{getTranslatedString('fog_owl.cedric.about_tq_code_response')}

mixin about_tq_operator
  response#about_tq_operator.
    !{getTranslatedString('fog_owl.cedric.about_tq_operator_response')}

mixin about_tq_legacy_systems
  response#about_tq_legacy_systems.
    !{getTranslatedString('fog_owl.cedric.about_tq_legacy_systems_response')}

mixin about_tq_legacy_systems_bolder
  response#about_tq_legacy_systems_bolder.
    !{getTranslatedString('fog_owl.cedric.about_tq_legacy_systems_bolder_response')}

mixin about_tq_legacy_systems_do
  response#about_tq_legacy_systems_do.
    !{getTranslatedString('fog_owl.cedric.about_tq_legacy_systems_do_response')}

mixin about_twilio_what
  response#about_twilio_what.
    !{getTranslatedString('fog_owl.cedric.about_twilio_what_response')}

mixin about_twilio_name
  response#about_twilio_name.
    !{getTranslatedString('fog_owl.cedric.about_twilio_name_response')}

mixin about_twilio_why
  response#about_twilio_why.
    !{getTranslatedString('fog_owl.cedric.about_twilio_why')}

mixin about_world_cloud
  response#about_world_cloud.
    !{getTranslatedString('fog_owl.cedric.about_world_cloud')}

mixin about_world_everyone_else
  response#about_world_everyone_else.
    !{getTranslatedString('fog_owl.cedric.about_world_everyone_else_response')}

mixin about_world_responsibility
  response#about_world_responsibility.
    !{getTranslatedString('fog_owl.cedric.about_world_responsibility_response')}

mixin about_world_space
  response#about_world_space.
    !{getTranslatedString('fog_owl.cedric.about_world_space_response')}

mixin questions_about_world
  response#questions_about_world.
    !{getTranslatedString('fog_owl.cedric.questions_about_world')}

mixin more_questions_about_world
  response#more_questions_about_world.
    !{getTranslatedString('fog_owl.cedric.more_questions_about_world')}

mixin more_questions_about_twilio
  response#more_questions_about_twilio.
    !{getTranslatedString('fog_owl.cedric.more_questions_about_twilio')}

mixin questions_about_twilio
  response#questions_about_twilio.
    !{getTranslatedString('fog_owl.cedric.questions_about_twilio')}

mixin more_questions_about_tq
  response#more_questions_about_tq.
    !{getTranslatedString('fog_owl.cedric.more_questions_about_tq')}

mixin questions_about_tq
  response#questions_about_tq.
    !{getTranslatedString('fog_owl.cedric.questions_about_tq')}

mixin more_questions_about_you
  response#more_questions_about_you.
    !{getTranslatedString('fog_owl.cedric.more_questions_about_you')}

mixin questions_about_you
  response#questions_about_you.
    !{getTranslatedString('fog_owl.cedric.questions_about_you')}

mixin questions_main
  response#questions_main.
    !{getTranslatedString('fog_owl.cedric.questions_main_response')}

mixin how_get_here
  response#how_get_here.
    !{getTranslatedString('fog_owl.cedric.how_get_here')}

mixin answer_some_questions
  response#answer_some_questions.
    !{getTranslatedString('fog_owl.cedric.answer_some_questions')}

conversation(display_name="Cedric")
  case lastResponse
    when "more_questions_about_tq"
    when "questions_about_tq"
      if lastResponse === "more_questions_about_tq"
        statement#about_tq_brief
      else
        statement#about_tq_main
      responses
        +about_tq_history
        +about_tq_operator
        +about_tq_legacy_systems
        +questions_main

    when "about_tq_legacy_systems"
      statement#about_tq_legacy_systems
      responses
        +about_tq_legacy_systems_bolder
        +more_questions_about_tq

    when "about_tq_legacy_systems_bolder"
      statement#about_tq_legacy_systems_bolder
      responses
        +about_tq_legacy_systems_do
        +more_questions_about_tq

    when "about_tq_legacy_systems_do"
      statement#about_tq_legacy_systems_do
      responses
        +about_tq_code
        +more_questions_about_tq

    when "about_tq_first_operators"
      statement#about_tq_first_operators
      responses
        +more_questions_about_tq
        +questions_main

    when "about_tq_history"
      statement#about_tq_history
      responses
        +more_questions_about_tq

    when "about_tq_operator"
      statement#about_tq_operator
      responses
        +about_tq_code
        +more_questions_about_tq

    when "about_tq_code"
      statement#about_tq_code
      responses
        +more_questions_about_tq
        +questions_main

    when "more_questions_about_twilio"
    when "questions_about_twilio"
      if lastResponse === "more_questions_about_twilio"
        statement#about_twilio_brief
      else
        statement#about_twilio_main
      responses
        +about_twilio_what
        +about_twilio_name
        +questions_main

    when "about_twilio_what"
      statement#about_twilio_what
      responses
        +more_questions_about_twilio
        +questions_main

    when "about_twilio_name"
      statement#about_twilio_name
      responses
        +more_questions_about_twilio
        +questions_main

    when "more_questions_about_world"
    when "questions_about_world"
      if lastResponse === "more_questions_about_world"
        statement#about_world_brief
      else
        statement#about_world_main
      responses
        +about_world_cloud
        +about_world_everyone_else
        +questions_main
    
    when "about_world_responsibility"
      statement#about_world_responsibility
      responses
        +more_questions_about_world
        +questions_main

    when "about_world_everyone_else"
      statement#about_world_everyone_else
      responses
        +about_world_responsibility
        +more_questions_about_world
    
    when "about_world_cloud"
      statement#about_world_cloud
      responses
        +about_world_space

    when "about_world_space"
      statement#about_world_space
      responses
        +more_questions_about_world
        +questions_main

    when "about_sad"
      statement(expression="cedricHappy.png")#sad
      responses
        +more_questions_about_you
        +questions_main

    when "about_fun"
      statement(expression="cedricSad.png")#fun
      responses
        +about_sad
        +more_questions_about_you
        +questions_main
    
    when "about_robot"
      statement#robot
      responses
        +more_questions_about_you
        +questions_main

    when "more_questions_about_you"
    when "questions_about_you"
      if lastResponse === "more_questions_about_you"
        statement#about_you_brief
      else
        statement#about_you_main
      responses
        +about_robot
        +about_fun
        +questions_main
    
    when "questions_main"
    when "answer_some_questions"
      if lastResponse === "questions_main"
        statement#questions_main
      else
        statement#questions
      responses
        +questions_about_world
        +questions_about_you
        +questions_about_tq
        +questions_about_twilio
        +back_to_main
    
    when "what_next"
      statement#next
      responses
        +how_get_here
        +answer_some_questions

    when "how_get_here"
      statement#how_get_here
      responses
        +what_next
        +answer_some_questions

    // This is the main conversation menu
    when "back_to_main"
    default
      if lastResponse === "back_to_main"
        statement#main
      else
        statement#default
      responses
        +what_next
        +how_get_here
        +answer_some_questions

  statements
    statement#about_tq_brief
      text.
        !{getTranslatedString('fog_owl.cedric.about_tq_brief')}

    statement#about_tq_main
      text.
        !{getTranslatedString('fog_owl.cedric.about_tq_main')}

    statement#about_tq_legacy_systems
      text.
        !{getTranslatedString('fog_owl.cedric.about_tq_legacy_systems')}

    statement#about_tq_legacy_systems_bolder
      text.
        !{getTranslatedString('fog_owl.cedric.about_tq_legacy_systems_bolder')}

    statement#about_tq_legacy_systems_do
      text.
        !{getTranslatedString('fog_owl.cedric.about_tq_legacy_systems_do')}

    statement#about_tq_history
      text.
        !{getTranslatedString('fog_owl.cedric.about_tq_history')}

    statement#about_tq_first_operators
      text.
        !{getTranslatedString('fog_owl.cedric.about_tq_first_operators_text')}
      speech.
        !{getTranslatedString('fog_owl.cedric.about_tq_first_operators_speech')}

    statement#about_tq_operator
      text.
       !{getTranslatedString('fog_owl.cedric.about_tq_operator')}

    statement#about_tq_code
      text.
        !{getTranslatedString('fog_owl.cedric.about_tq_code_text')}
      speech.
        !{getTranslatedString('fog_owl.cedric.about_tq_code_speech')}

    statement#about_twilio_what
      text.
        !{getTranslatedString('fog_owl.cedric.about_twilio_what')}

    statement#about_twilio_name
      text.
       !{getTranslatedString('fog_owl.cedric.about_twilio_name')}

    statement#about_twilio_brief
      text.
        !{getTranslatedString('fog_owl.cedric.about_twilio_brief')}

    statement#about_twilio_main
      text.
        !{getTranslatedString('fog_owl.cedric.about_twilio_main')}

    statement#about_world_everyone_else
      text.
        !{getTranslatedString('fog_owl.cedric.about_world_everyone_else')}

    statement#about_world_responsibility
      text.
        !{getTranslatedString('fog_owl.cedric.about_world_responsibility')}

    statement#about_world_space
      text.
        !{getTranslatedString('fog_owl.cedric.about_world_space')}

    statement#about_world_cloud
      text.
        !{getTranslatedString('fog_owl.cedric.about_world_cloud_text')}
      speech.
        !{getTranslatedString('fog_owl.cedric.about_world_cloud_speech')}

    statement#about_world_brief
      text.
        !{getTranslatedString('fog_owl.cedric.about_world_brief')}

    statement#about_world_main
      text.
        !{getTranslatedString('fog_owl.cedric.about_world_main_text')}
      speech.
        !{getTranslatedString('fog_owl.cedric.about_world_main_speech')}

    statement#about_you_brief
      text.
        !{getTranslatedString('fog_owl.cedric.about_you_brief_text')}
      speech.
        !{getTranslatedString('fog_owl.cedric.about_you_brief_speech')}
    
    statement#about_you_main
      text.
        !{getTranslatedString('fog_owl.cedric.about_you_main_text')}
      speech.
        !{getTranslatedString('fog_owl.cedric.about_you_main_speech')}

    statement#robot
      text.
        !{getTranslatedString('fog_owl.cedric.robot')}

    statement#fun
      text.
        !{getTranslatedString('fog_owl.cedric.fun')}

    statement#sad
      text
        p.
          !{getTranslatedString('fog_owl.cedric.sad_text_p1')}
        p.
          !{getTranslatedString('fog_owl.cedric.sad_text_p2')}
      speech.
        !{getTranslatedString('fog_owl.cedric.sad_speech')}

    statement#questions_main
      text.
        !{getTranslatedString('fog_owl.cedric.questions_main')}

    statement#questions
      text.
        !{getTranslatedString('fog_owl.cedric.questions')}

    statement#how_get_here
      text.
        !{getTranslatedString('fog_owl.cedric.how_get_here_text')}
      speech.
        !{getTranslatedString('fog_owl.cedric.how_get_here_speech')}

    statement#next
      text.
        !{getTranslatedString('fog_owl.cedric.next')}

    statement#main
      text.
        !{getTranslatedString('fog_owl.cedric.main')}

    statement#default
      text.
        !{getTranslatedString('fog_owl.cedric.default')}

