mixin dossier
  response#dossier.
    !{getTranslatedString('fog_owl.corey.dossier_response')}

mixin defensive_systems
  response#defensive_systems.
    !{getTranslatedString('fog_owl.corey.defensive_systems_response')}

mixin about
  response#about.
    !{getTranslatedString('fog_owl.corey.about_response')}

conversation(display_name="Corey")
  case lastResponse
    when "dossier"
      statement#dossier
      responses
        +defensive_systems

    when "defensive_systems"
      statement#defensive_systems
      responses
        +about

    when "about"
      statement#about
      responses
        +dossier
        +defensive_systems

    default
      statement#default
      responses
        +about

  statements
    statement#dossier
      text.
        !{getTranslatedString('fog_owl.corey.dossier')}

    statement#defensive_systems
      text.
        !{getTranslatedString('fog_owl.corey.defensive_systems')}

    statement#about
      text.
        !{getTranslatedString('fog_owl.corey.about')}

    statement#default
      text.
        !{getTranslatedString('fog_owl.corey.default')}
