mixin dossier
  response#dossier.
    !{getTranslatedString('fog_owl.craig.dossier_response')}

mixin about
  response#about.
    !{getTranslatedString('fog_owl.craig.about_response')}

mixin whats_this
  response#whats_this.
    !{getTranslatedString('fog_owl.craig.whats_this_response')}

conversation(display_name="Craig")
  case lastResponse
    when "dossier"
      statement#dossier
      responses
        +whats_this

    when "about"
      statement#about
      responses
        +dossier

    when "whats_this"
      statement#whats_this
      responses
        +about

    default
      statement#default
      responses
        +whats_this
        +about

  statements
    statement#dossier
      text.
        !{getTranslatedString('fog_owl.craig.dossier')}

    statement#whats_this
      text.
        !{getTranslatedString('fog_owl.craig.whats_this')}

    statement#about
      text.
        !{getTranslatedString('fog_owl.craig.about')}

    statement#default
      text.
        !{getTranslatedString('fog_owl.craig.default')}
