mixin dossier
  response#dossier.
    !{getTranslatedString('fog_owl.marcus.dossier_response')}

mixin what_this
  response#what_this.
    !{getTranslatedString('fog_owl.marcus.what_this_response')}

mixin about
  response#about.
    !{getTranslatedString('fog_owl.marcus.about_response')}

conversation(display_name="Marcus")
  case lastResponse
    when "dossier"
      statement#dossier
      responses
        +what_this

    when "what_this"
      statement#what_this
      responses
        +about

    when "about"
      statement#about
      responses
        +dossier

    default
      statement#default
      responses
        +what_this
        +about

  statements
    statement#what_this
      text.
        !{getTranslatedString('fog_owl.marcus.what_this')}
    
    statement#dossier
      text.
        !{getTranslatedString('fog_owl.marcus.dossier')}

    statement#about
      text.
        !{getTranslatedString('fog_owl.marcus.about')}

    statement#default
      text.
        !{getTranslatedString('fog_owl.marcus.default')}
