mixin dossier
  response#dossier.
    !{getTranslatedString('fog_owl.megan.dossier_response')}

mixin traffic
  response#traffic.
    !{getTranslatedString('fog_owl.megan.traffic_response')}

mixin about
  response#about.
    !{getTranslatedString('fog_owl.megan.about_response')}

conversation(display_name="Megan")
  case lastResponse
    when "dossier"
      statement#dossier
      responses
        +traffic

    when "about"
      statement#about
      responses
        +dossier

    when "traffic"
      statement#traffic
      responses
        +about

    default
      statement#default
      responses
        +traffic
        +about

  statements
    statement#dossier
      text.
        !{getTranslatedString('fog_owl.megan.dossier')}
    
    statement#traffic
      text.
        !{getTranslatedString('fog_owl.megan.traffic')}

    statement#about
      text.
        !{getTranslatedString('fog_owl.megan.about')}

    statement#default
      text.
        !{getTranslatedString('fog_owl.megan.default')}
