mixin dossier
  response#dossier.
    !{translations['mica.dossierResponse'] || fallbackTranslations['mica.dossierResponse']}

mixin about
  response#about.
    !{translations['mica.aboutResponse'] || fallbackTranslations['mica.aboutResponse']}

mixin whats_this
  response#whats_this.
    !{translations['mica.whatsThisResponse'] || fallbackTranslations['mica.whatsThisResponse']}

conversation(display_name="Mica")
  case lastResponse
    when "dossier"
      statement#dossier
      responses
        +whats_this

    when "about"
      statement#about
      responses
        +dossier

    when "whats_this"
      statement#whats_this
      responses
        +about

    default
      statement#default
      responses
        +whats_this
        +about

  statements
    statement#dossier
      text.
        !{translations['mica.dossier'] || fallbackTranslations['mica.dossier']}
        
    statement#whats_this
      text.
        !{translations['mica.whatsThis'] || fallbackTranslations['mica.whatsThis']}

    statement#about
      text.
        !{translations['mica.about'] || fallbackTranslations['mica.about']}

    statement#default
      text.
        !{translations['mica.default'] || fallbackTranslations['mica.default']}
