mixin dossier
  response#dossier.
    !{getTranslatedString('mica.dossierResponse')}

mixin about
  response#about.
    !{getTranslatedString('mica.aboutResponse')}

mixin whats_this
  response#whats_this.
    !{getTranslatedString('mica.whatsThisResponse')}

conversation(display_name="Mica")
  case lastResponse
    when "dossier"
      statement#dossier
      responses
        +whats_this

    when "about"
      statement#about
      responses
        +dossier

    when "whats_this"
      statement#whats_this
      responses
        +about

    default
      statement#default
      responses
        +whats_this
        +about

  statements
    statement#dossier
      text.
        !{getTranslatedString('mica.dossier')}
        
    statement#whats_this
      text.
        !{getTranslatedString('mica.whatsThis')}

    statement#about
      text.
        !{getTranslatedString('mica.about')}

    statement#default
      text.
        !{getTranslatedString('mica.default')}
